*,
*::before,
*::after {
  position: relative;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: black;
}

#game-board {
  background-color: lightseagreen;
  height: 100vmin;
  width: 100vmin;
  display: grid;
  grid-template-rows: repeat(51, 1fr);
  grid-template-columns: repeat(51, 1fr);
}

.snake {
  background-color: green;
  border: 0.25vmin solid black;
  height: 14px;
  width: 14px;
}

.food {
  background-color: red;
  border: 0.25vmin solid black;
  height: 14px;
  width: 14px;
}

#score {
  color: white;
  z-index: 10;
  font-size: 2vh;
}
